<div class="container">
  <div class="header">
    <h1>Конвертер валют</h1>
  </div>
  <div class="currency-converter">
    <app-currency-rates></app-currency-rates>
    <div class="input-section">
      <div class="input-group" [formGroup]="formGroup">
        <app-currency-input formControlName="input1"></app-currency-input>
      </div>
      <div class="input-group" [formGroup]="formGroup">
        <app-currency-input formControlName="input2"></app-currency-input>
      </div>
    </div>
    <div>
      <h3>
        Результат:
        <p>
          {{ formGroup.value.input1.amount }}
          {{ formGroup.value.input1.currency }} =
          {{ formGroup.value.input2.amount }}
          {{ formGroup.value.input2.currency }}
        </p>
      </h3>
    </div>
  </div>
</div>
